@import "/src/General/Styles/Colors/colors";

.card {
  $size: 55px;

  width: calc($size * 1.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  img {
    width: $size;
    height: $size;
  }

  p {
    text-transform: capitalize;
    font-size: 11px;
    color: $gray-300;
  }
}
