@import "/src/General/Styles/Colors/colors";

.my-face-container {
  display: flex;
  justify-content: center;

  img {
    -webkit-user-drag: none;
    outline: 4px solid $red-700;
    border-radius: 50%;
    background-color: $primary;
    max-width: 100%;
    height: auto;
  }
}

@media (width >= 300px) {
  .my-face-container {
    img {
      width: 250px;
      height: 240px;
    }
  }
}

@media (width >= 992px) {
  .my-face-container {
    justify-content: flex-end;
  }
}
