@import "/src/General/Styles/Colors/colors";

.my-face {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    position: relative;
    transition: all 500ms;
    margin-top: 70px;
    outline: 3px solid $red-800;
    outline-offset: 5px;
    border: 3px solid $red-700;
    border-radius: 20px;
    background-color: $red-800;
    width: 250px;
    height: 180px;
  }

  &__img {
    -webkit-user-drag: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    max-width: 100%;
    height: auto;
  }
}

@media (width >= 300px) {
  .my-face__img {
    width: 250px;
    height: 240px;
  }
}

@media (width >= 992px) {
  .my-face {
    &__container {
      justify-content: flex-end;
    }

    &__box {
      margin-top: 0;
    }
  }
}
