@import "../../../General/Styles/Colors/colors";

.border-container {
  padding: 1rem;
  border-radius: 8px;
  background-color: $red-500;

  p,
  h2 {
    color: $cyan-200;
    text-align: center;
  }
}
