@import "/src/General/Styles/Colors/colors";
@import "/src/General/Styles/Fonts/fonts";

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .skill-icons__container {
      $size: 40px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border-radius: 1rem;
      background-color: $secondary;
      padding: 8px;
      width: calc($size * 2);

      &:hover .skill-icons__icon {
        animation: dance 1s infinite;
        color: $red-600;
      }

      &:hover p {
        color: $gray-100;
      }

      &:hover {
        transition: all 500ms;
        background-color: $primary;
      }

      .skill-icons__icon {
        color: $gray-400;
        font-size: $size;
      }

      p {
        color: $gray-300;
        font-weight: bold;
        font-size: $font-size-9 * 1.1;
        text-transform: capitalize;
      }
    }
  }
}

@media (width >= 768px) {
  .skill-container {
    gap: 3rem;
  }
}

@keyframes dance {
  0% {
    transform: translateX(0);
    transform: rotate(12deg);
  }
  25% {
    transform: translateX(5px);
    transform: rotate(-12deg);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
}
