@import "/src/General/Styles/Colors/colors";

.introduce-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  span {
    font-weight: bold;
    color: $tea-green-200;
  }
}
