@import "/src/General/Styles/Colors/colors";

#about-me {
  span:first-child,
  span:nth-child(2) {
    color: $co-yellow;
  }
  span:nth-child(3) {
    color: $co-blue;
  }
  span:nth-child(4) {
    color: $co-red;
  }
}
