@import "/src/General/Styles/Colors/colors";
@import "/src/General/Styles/Fonts/fonts";

.introduce {
  display: grid;
  grid-template-columns: 1fr;

  &__text {
    align-self: center;
    margin-bottom: 2rem;

    color: $cyan-300;

    p,
    h1 {
      color: $indigo-300;
      text-align: center;
    }

    p {
      color: $gray-300;
      font-size: $font-size-6;
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: $font-size-2;

      span {
        display: inline-block;
        position: relative;
        z-index: 0;
        color: $gray-50;

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          background-color: $indigo-500;
          width: 100%;
          height: 40%;
          content: "";
        }
      }
    }

    span {
      font-size: inherit;
    }
  }
}

@media (width >= 992px) {
  .introduce {
    grid-template-columns: 60% 40%;

    &__text {
      margin-bottom: 0;

      p,
      h1 {
        text-align: start;
      }

      p {
        font-size: $font-size-5;
      }

      h1 {
        font-size: $font-size-1;
      }
    }
  }
}
