@import "@/General/Styles/Colors/colors";

.title {
  font-size: 1.3rem;
  color: $gray-400;
  text-align: center;
  text-shadow: 3px 3px $gray-700;
  margin: 3rem 0;
}

@media (width >= 992px) {
  .title {
    font-size: 2rem;
  }
}
