@import "/src/General/Styles/main.scss";

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-block;
  position: relative;
  margin: 2rem 0;
  color: $gray-100;
  font-size: $font-size-4;
  user-select: none;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    transform: rotate(10deg);
    z-index: -1;
    transition: all 500ms;
    outline: 2px solid $red-600;
    outline-offset: 3px;
    border: 2px solid $red-600;
    border-radius: 8px;
    background-color: $red-700;
    width: 5px;
    height: 100%;
    content: "";
  }

  &:hover::before {
    $offset: 15px;
    left: -$offset;
    transform: none;
    background-color: $red-600;
    width: calc(100% + (2 * $offset));
  }
}

@media (width >= 992px) {
  .title {
    font-size: $font-size-2;
  }
}
