@import "/src/General/Styles/Colors/colors";

.contact-cards__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;

  .contact-cards__icon {
    transition: all 0.2s ease-out;
    width: 35px;
    height: 35px;
    color: $red-500;
    font-size: 30px;

    &:hover {
      transform: scale(0.9) rotate(-10deg);
      color: $red-600;
    }

    &:active {
      transform: scale(0.8);
    }
  }
}
