@import "/src/General/Styles/Colors/colors";

.contact-cards__container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;

  .contact-cards__icon {
    transition: all 0.2s;
    width: 35px;
    color: $red-500;
    font-size: 30px;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
