@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");

$main-font: "Poppins", sans-serif;
$main-font: "Martian Mono", monospace;

$font-size-1: 1.5rem;
$font-size-2: 18px;
$font-size-3: 16px;
