@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");

$main-font: "Poppins", sans-serif;
$main-font: "Martian Mono", monospace;

// * fonts measures
$base: 16px;
$font-size-1: $base * 2.5;
$font-size-2: $base * 2;
$font-size-3: $base * 1.75;
$font-size-4: $base * 1.5;
$font-size-5: $base * 1.25;
$font-size-6: $base;
$font-size-7: 15px;
$font-size-8: 13px;
$font-size-9: 9px;
