@import "./Fonts/fonts";
@import "./Colors/colors";
@import "./Spacing/spacing";

// * initial configuration

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: $main-font;
}

body {
  background-image: url("/src/Resources/Icons/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $primary;
  min-height: 100vh;
}

p {
  text-align: center;
}

.spin:hover {
  animation: spin 3s infinite;
}

// * Container

// * Text
.bold {
  color: $gray-50;
  font-weight: bold;
}

// * Animations

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}
