@import "./Fonts/fonts";
@import "./Colors/colors";
@import "./Spacing/spacing";

// * initial configuration

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $primary;
}

p {
  text-align: center;
}

.spin:hover {
  animation: spin 3s infinite;
}

// * Container

// * Text
.bold {
  color: $gray-50;
  font-weight: bold;
}

// * Animations

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}
