@import "/src/General/Styles/Colors/colors";

.icon-link__link {
  box-shadow: 3px 3px $gray-300;
  border: 2px solid $gray-300;
  border-radius: 8px;
  padding: 5px;

  &:hover {
    background-color: $gray-800;
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .icon-link__icon {
    color: $gray-300;
    font-size: 30px;
  }
}
