@import "/src/General/Styles/Colors/colors";

.icon-link__link {
  border: 2px solid $green-500;
  border-radius: 50%;
  padding: 10px;

  &:hover {
    background-color: $green-800;
  }

  &:active {
    transform: scale(0.9);
  }

  .icon-link__icon {
    color: $green-500;
    font-size: 25px;
  }
}
