@import "/src/General/Styles/Colors/colors";

.icon-link__link {
  transition: all 250ms;
  border: 2px solid $gray-500;
  border-radius: 8px;
  padding: 10px;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  .icon-link__icon {
    color: $gray-400;
    font-size: 25px;
  }
}
