// old color scheme
$charcoal: #353d46;
$gunmetal-100: #2b2d35;
$gunmetal-200: #434651;
$gunmetal-300: #252525;
$rich-black-fogra: #151515;
$rich-black: #181818;

$mint-cream: #fff;
$honeydew: #fff;
$tea-green-100: #d6ffd6;
$tea-green-200: #c2ffc2;
$green-yellow-crayola: #fff599;

$eerie-black: tomato;
$candy-pink: #e36372;
$paradise-pink: #e05262;
$amaranth: #dd4053;
$rusty-red: #c20114;

$cornflower-blue-100: #70a0ff;
$cornflower-blue-200: #5c92ff;
$azure: #0288d1;
$blue-crayola: #3377ff;
