$charcoal: #353d46;
$gunmetal-100: #292f36;
$gunmetal-200: #23282f;
$eerie-black: #1a1e23;
$rich-black: #111417;
$rich-black-fogra: #040910;
$mint-cream: #f7fff7;
$honeydew: #ebffeb;
$tea-green-100: #d6ffd6;
$tea-green-200: #c2ffc2;
$green-yellow-crayola: #fff599;
$candy-pink: #e36372;
$paradise-pink: #e05262;
$amaranth: #dd4053;
$rusty-red: #da2f43;
$cornflower-blue-100: #70a0ff;
$cornflower-blue-200: #5c92ff;
$azure: #4785ff;
$blue-crayola: #3377ff;
