// new color scheme | not being used yet
$black-100: #101810;
$black-200: #0c120c;
$black-300: #080c08;

$white-100: #f5f5f5;
$white-200: #ebebeb;
$white-300: #e0e0e0;

$red-100: #a30010;
$red-200: #8f000e;
$red-300: #66000a;

// old color scheme
$charcoal: #353d46;
$gunmetal-100: #474a56;
$gunmetal-200: #434651;
$gunmetal-300: #2f3136;
$eerie-black: tomato;
$rich-black-fogra: #0c120c;
$rich-black: #080c08;
$mint-cream: #ecebf3;
$honeydew: #ecebf3;
$tea-green-100: #d6ffd6;
$tea-green-200: #c2ffc2;
$green-yellow-crayola: #fff599;
$candy-pink: #e36372;
$paradise-pink: #e05262;
$amaranth: #dd4053;
$rusty-red: #c20114;
$cornflower-blue-100: #70a0ff;
$cornflower-blue-200: #5c92ff;
$azure: #4785ff;
$blue-crayola: #3377ff;
