.home-section {
  display: flex;
  flex-direction: column;
  // background: url("/src/Resources/Icons/bg-simply-shiny.svg");
  // background-size: 100% cover;
  // background-size: cover;
  // * new styles
  min-height: 100vh;
}
