.home-section {
  $height: 100vh;
  min-height: $height;

  &__container,
  &__content {
    min-height: $height;
  }

  &__container {
    background-image: url("/src/Resources/Icons/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    backdrop-filter: blur(75px);
  }
}
