@import "/src/General/Styles/Colors/colors";
@import "/src/General/Styles/Fonts/fonts";

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $rich-black-fogra;
  user-select: none;
  z-index: 1;
  margin: 0 auto;

  ul {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      list-style: none;

      a {
        display: inline-block;
        text-decoration: none;
        // color: $light-blue-50;
        color: $indigo-600;
        padding: 10px;
        font-size: $font-size-3;
        border-radius: 5px;

        &:hover {
          background-color: $gunmetal-300;
        }

        &:active {
          transform: scale(1.1);
        }
      }
    }
  }
}

.active {
  background-color: $gunmetal-300;
  color: $azure;
}

@media (min-width: 500px) {
  header > ul > li > a {
    width: 130px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  header > ul {
    width: 50%;
    justify-content: space-around;
  }
}
