@import "@/General/Styles/Colors/colors";
@import "@/General/Styles/Fonts/fonts";

.header {
  $rotation: 10deg;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  margin: auto;
  border-radius: 0 0 8px 8px;
  background-color: $gray-900;
  padding: 5px 18px;

  max-width: 600px;

  &__logo {
    -webkit-user-drag: none;
    border: 2px solid $gray-800;
    border-radius: 5px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;

    &__item {
      list-style: none;

      &__container {
        display: flex;

        &:hover a {
          transform: scale(0.9) rotate(-$rotation);
        }

        a {
          -webkit-user-drag: none;
          transition: all 200ms;
          border-radius: 8px;
          background-color: $red-600;
          padding: 6px;
          text-decoration: none;

          &:active {
            transform: scale(1.1) rotate($rotation);
          }
        }

        p {
          color: $gray-50;
          font-size: $font-size-8;
        }
      }
    }
  }

  &__language {
    button {
      transition: all 200ms;
      border: none;
      border-radius: 8px;
      background-color: $blue-600;
      padding: 6px;
      color: $gray-50;

      &:hover {
        transform: scale(0.9) rotate(-$rotation);
        cursor: pointer;
      }
    }
  }
}

@media (width >= 768px) {
  .header {
    flex-direction: row;
  }
}
